@font-face {
  font-family: "ClashDisplay-Medium";
  src: url(./ClashDisplay-Medium.otf);
}
@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url(./ClashDisplay-Semibold.otf);
}
@font-face {
  font-family: "ClashDisplay-Regular";
  src: url(./ClashDisplay-Regular.otf);
}
@font-face {
  font-family: "Inter-VariableFont_slnt,wght";
  src: url(./Inter-VariableFont_slnt-wght.ttf);
}
@font-face {
  font-family: "Inter-Regular";
  src: url(./Inter-regular.ttf);
}
